<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillFund • SkillMatch+</title>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/header-footer.css">
    <link rel="stylesheet" href="../static/css/skillfund.css">
    <link rel="stylesheet" href="../static/css/modals.css">
    <link rel="stylesheet" href="../static/css/messages.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <!-- GLOBAL MESSAGE BOX -->
<div class="app-message" id="appMessage">
    <span class="message-icon"></span>
    <span class="message-text"></span>
</div>


    <!-- LOGGED-IN HEADER -->
    <header class="main-header">
        <div class="container">
            <div class="logo"><h2><i class="fas fa-seedling"></i>SkillMatch+</h2></div>
            <nav class="main-nav">
                <a href="skillfund.html" class="active">SkillFund</a>
                <a href="/dashboard">Dashboard</a>
                
            </nav>
            <div class="header-right">
                <div class="notification"><i class="fas fa-bell"></i><span class="badge">3</span></div>
                <div class="profile-dropdown" tabindex="0">
                    <img src="../static/images/avatar.png" alt="Profile" class="profile-pic">
                    <i class="fas fa-caret-down"></i>
                    <div class="dropdown-menu">
                        <a href="profile.html">My Profile</a>
                        <a href="about.html">About Us</a>
                        <a href="/settings">Settings</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-containers">
          {% for category, message in messages %}
            <div class="flash-messages {{ category }}">
                {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


    <!-- FILTER & SEARCH BAR -->
    <section class="skillfund-filters">
        <div class="container">
            <div class="filters-container">
                <div class="search-section">
                    <button class="hero-cta" data-open-modal="postIdeaModal">
                        <i class="fas fa-rocket"></i> Post Your Idea
                    </button>
                   <form method="GET" action="/skillfund" class="search-bar">
                    <i class="fas fa-search"></i>

                    <input
                            type="text"
                            name="q"
                            class="search-input"
                            placeholder="Search innovative projects..."
                            value="{{ search_query or '' }}"
                                                        >
                  <button type="submit" class="search-btn">Search</button>
                 </form>

                    
                </div>
                
                
            </div>
        </div>
    </section>

    <!-- PROJECTS GRID - VISUAL CARDS -->
    <section class="projects-grid-section">
            <div class="section-header">
                <h2>Featured <span class="highlight">Innovations</span></h2>
                <div class="sort-options">
                <button class="filter-toggle" data-open-modal="filterModal">
                     <i class="fas fa-filter"></i> Filters
                </button>

                </div>
            </div>
            
        <div class="projects-grid">

    {% if projects %}
        {% for project in projects %}
        <article class="project-card">
            <div class="project-image">
                <img src="../static/images/student-working-together.webp" alt="Project Image">
                <div class="image-overlay">
                    <span class="project-category">
                        {{ project.categories }}
                    </span>
                </div>
            </div>

            <div class="project-content">

                <h3 class="project-title">
                    {{ project.project_title }}
                </h3>

                <p class="project-description">
                    {{ project.project_description }}
                </p>

                {% if project.required_skills %}
                <div class="project-skills">
                    {% for skill in project.required_skills.split(",") %}
                        <span class="skill-tag">{{ skill.strip() }}</span>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="project-funding">
                    <div class="funding-goal">
                        <span class="goal-label">Goal:</span>
                        <span class="goal-amount">
                            FCFA{{ "{:,}".format(project.funding_goal|int) }}
                        </span>
                    </div>
                </div>

                <div class="project-actions">
                    <button class="btn-support">
                        <i class="fas fa-hand-holding-heart"></i> Support Project
                    </button>

                    <a href="/project/{{ project.id }}" class="btn-details">
                        <i class="fas fa-info-circle"></i> View Details
                    </a>
                </div>

            </div>
        </article>
        {% endfor %}
    {% else %}
        <p style="text-align:center;">No projects available yet.</p>
    {% endif %}

</div>

            
            <div class="load-more">
                <button class="btn-load">
                    <i class="fas fa-sync-alt"></i> Load More Projects
                </button>
            </div>
        </div>
    </section>

    <!-- HOW IT WORKS SECTION -->
    <section class="how-it-works">
        <div >
            <h2 class="section-title">How <span class="highlight">SkillFund</span> Works</h2>
            <div class="steps-grid">
                <div class="step">
                    <div class="step-icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <h3>1. Post Your Idea</h3>
                    <p>Share your innovative project with clear goals, funding needs, and impact statement.</p>
                </div>
                <div class="step">
                    <div class="step-icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <h3>2. Get Discovered</h3>
                    <p>Sponsors and collaborators browse projects and find ones they're passionate about.</p>
                </div>
                <div class="step">
                    <div class="step-icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <h3>3. Receive Support</h3>
                    <p>Get funding, mentorship, or team members to help bring your idea to life.</p>
                </div>
                <div class="step">
                    <div class="step-icon">
                        <i class="fas fa-rocket"></i>
                    </div>
                    <h3>4. Launch & Impact</h3>
                    <p>Turn your vision into reality with the support of the SkillMatch+ community.</p>
                </div>
            </div>
        </div>
    </section>

    

    <!-- FOOTER -->
    <footer class="main-footer">
        <div class="container footer-container">
            <div class="footer-links">
                <a href="/about">About Us</a>|
                <a href="/contact">Contact</a>|
                <a href="/terms">Terms</a>|
                <a href="/privacy">Privacy Policy</a>
            </div>
            <div class="footer-bottom">
                <p>© 2025 SkillFund. All rights reserved.</p>
            </div>
        </div>
    </footer>



   <!-- FILTER MODAL -->
    <div id="filterModal" class="modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <h2>Filter Projects</h2>
            <form method="GET" action="/skillfund">
            <div class="form-group">
                <label>Category</label>
                <input type="hidden" name="q" value="{{ search_query or '' }}">

               {% for cat in category %}
             <label class="filter-option">
              <input
                type="checkbox"
                name="category"
                value="{{ cat.id }}"
                {% if cat.id|string in selected_categories %}checked{% endif %}
            >
            {{ cat.name }}
        </label>
        {% endfor %}
            </div>
            
            <div class="form-group">
                <label>Funding Status</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="status" checked>
                        All Projects
                    </label>
                    <label>
                        <input type="radio" name="status">
                        Almost Funded (>80%)
                    </label>
                    <label>
                        <input type="radio" name="status">
                        Newly Listed
                    </label>
                    <label>
                        <input type="radio" name="status">
                        Ending Soon
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <label>Minimum Rating</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="rating" checked>
                        Any Rating
                    </label>
                    <label>
                        <input type="radio" name="rating">
                        3+ Stars
                    </label>
                    <label>
                        <input type="radio" name="rating">
                        4+ Stars
                    </label>
                    <label>
                        <input type="radio" name="rating">
                        4.5+ Stars
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <label for="sortBy">Sort By</label>
                <select id="sortBy" class="form-select">
                    <option value="most-funded">Most Funded</option>
                    <option value="newest">Newest First</option>
                    <option value="ending-soon">Ending Soon</option>
                    <option value="most-supported">Most Supported</option>
                </select>
            </div>
            
            <div class="modal-actions">
                <button class="btn-apply" id="applyFilters" type="submit">
                    Apply Filters
                </button>
                <a href="/skillfund" class="btn-cancel">
                    Cancel
                </a>
            </form>
            </div>
        </div>
    </div>





    <!-- CREATE PROJECT MODAL -->
    <div id="postIdeaModal" class="modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <h2><i class="fas fa-rocket"></i> Post Your Innovation</h2>
            <p class="modal-info">
            Share your project idea with sponsors and collaborators.
            </p>
            
            
            <form id="createProjectForm" action="/create-project" method="POST">
                <div class="form-group">
                    <label for="projectTitle">Project Title *</label>
                    <input type="text" id="projectTitle" name="projectTitle" placeholder="Make it catchy and descriptive" required>
                </div>
                
                <div class="form-group">
                    <label for="projectDescription">Project Description *</label>
                    <textarea id="projectDescription" rows="4" name="projectDescription" placeholder="Describe your vision, impact, and what you plan to achieve..." required></textarea>
                </div>
                
                <div class="form-group">
                    <label for="projectCategory">Category *</label>
                    <select id="projectCategory" class="category-select" name="category[]" multiple  required>
                        {% for cat in category %}
                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="fundingGoal">Funding Goal (FCFA) *</label>
                    <input type="number" id="fundingGoal" name="fundingGoal" placeholder="e.g., 500000" min="1000" required>
                </div>
                
                <div class="form-group">
                    <label for="requiredSkills">Required Skills (Optional)</label>
                    <input type="text" id="requiredSkills" name="requiredSkills" placeholder="e.g., Python, Electrical Engineering, Marketing">
                </div>
                
                <!-- FILE UPLOAD -->
                <div class="form-group file-upload">
                     <label>Project Image (optional)</label>
                     <label class="file-label">
                     <i class="fas fa-upload"></i> Upload Image
                     <input type="file" hidden>
                     </label>
                </div>
                
                <div class="form-group">
                    <label>
                        <input type="checkbox" required>
                        I agree to the SkillFund Terms and understand this is for student innovation only.
                    </label>
                </div>
                
                <div class="modal-actions">
                    <button type="submit" class="btn-submit">
                        Submit Project
                    </button>
                    <a href="/skillfund" class="btn-cancel">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>




    <!-- SUPPORT PROJECT MODAL -->
<div class="modal" id="supportProjectModal">
    <div class="modal-content skillfund-modal">

        <span class="close-modal">&times;</span>

        <h2><i class="fas fa-hand-holding-heart"></i> Support This Project</h2>

        <p class="modal-info">
            Your support helps students bring innovative ideas to life.
        </p>

        <!-- AMOUNT -->
        <div class="form-group">
            <label>Support Amount (FCFA)</label>
            <input type="text" placeholder="e.g. 10000">
        </div>

        <!-- MESSAGE -->
        <div class="form-group">
            <label>Message (optional)</label>
            <textarea placeholder="Leave an encouraging message"></textarea>
        </div>

        <!-- PAYMENT NOTE -->
        <p class="modal-info">
            ⚠ This is a demo project. No real payment will be processed.
        </p>

        <!-- ACTIONS -->
        <div class="modal-actions">
            <!-- <button class="btn-cancel close-modal">Cancel</button> -->
            <button class="btn-submit">
                <i class="fas fa-check"></i> Confirm Support
            </button>
        </div>

    </div>
</div>

<script src="../static/js/modals.js"></script>
    
</body>
</html>
